<footer class="footer">
  <div class="footer__container container">
    <p class="footer__container__copyright">
      &copy 2020 | All Rights Reserved |
    </p>
    <p class="footer_container__authors">
      Developed with<svg
        class="footer_container__authors__svg"
        width="14"
        height="13"
      >
        <use href="./images/sprite.svg#heart"></use>
      </svg>
      <button class="footer_container__authors__button" type="button">
        by GoIT Students
      </button>
    </p>
  </div>
</footer>

<!-- 
<footer class="footer">
  <div class="container">
    <ul class="footer-item">
      <li class="list footer-text">
        <p class="link-footer">© 2020 | All Rights Reserved | Developed with</p>
      </li>
      <li class="list">
        <svg class="svg-footer">
          <use href="./images/symbol-defs.svg#icon-heart"></use>
        </svg>
      </li>
      <li class="list footers-text">
        <p class="link-footer">by</p>
      </li>
      <li class="list">
        <a class="link-footer" href="">GoIT Students</a>
      </li>
    </ul>
  </div>
</footer> -->