<header>
  <div class="header__background">
    <div class="header__container container">
      <div class="header__wrapper">
        <!-- LOGO -->
        <div class="logo-wrapper">
          <a class="logo link" href="./index" aria-label="filmoteka logo">
            <svg class="logo__icon" width="24" height="24">
              <use href="./images/sprite.svg#film"></use>
            </svg>
            <span class="logo__text">Filmoteka </span>
          </a>
        </div>
        <!-- SITE NAVIGATION - HOME/LIBRARY BUTTONS -->
        <nav class="site-nav">
          <!-- <a href="./index"> -->
          <button
            id="home-button"
            class="header-button home-button current"
            type="button"
            aria-label="main page switch"
          >
            Home
          </button>
          <!-- </a> -->
          <button
            id="library-button"
            class="header-button library-button"
            type="button"
            aria-label="library page switch"
          >
            My library
          </button>
        </nav>
      </div>

      <!-- SEARCH-INPUT CONTAINER -->
      <form class="search-form">
        <div class="search-container">
          <span class="search__input-wrapper">
            <svg class="microphone" width="40" height="40" aria-label="voice search">
              <use href="./images/sprite.svg#microphone"></use>
            </svg>

            <input
              class="search__input"
              type="text"
              name="query"
              autocomplete="off"
              aria-label="Search films "
              placeholder="Поиск фильмов"
              contenteditable
            />
          </span>
        </div>
      </form>
      <!-- WATCHED/QUEUE BUTTONS -->
      <div class="button-container">
        <button class="button watched-button visually-hidden activeBtn" type="button">
          WATCHED
        </button>
        <button class="button queue-button visually-hidden" type="button">QUEUE</button>
      </div>
    </div>
  </div>
</header>
