<header class="header">
  <div class="container">
    <ul class="header-item">
      <ul class="logo-item">
        <li class="logo-list list">
          <img class="logo-img" src="./images/film.png" alt="logo" />
        </li>
        <li class="logo-list list">
          <p class="text">Filmoteka</p>
        </li>
      </ul>
      <ul class="header-link">
        <li class="link-list list current">
          <a class="link link-text" href="index.html">HOME</a>
        </li>
        <li class="link-list list">
          <a class="link link-text" href="">MY LIBRARY</a>
        </li>
      </ul>
    </ul>
    <form action="">
      <ul class="search-item">
        <li class="searh-list list">
          <input class="search-input" type="text" placeholder="Поиск фильмов" />
        </li>
        <li class="searh-list list">
          <button class="btn-search" type="submit">
            <svg class="search-img">
              <use href="./images/symbol-defs.svg#icon-search"></use>
            </svg>
          </button>
        </li>
      </ul>
    </form>
  </div>
</header>
