<header>
  <div class="header__background">
    <div class="header__container container">
      <div class="header__wrapper">
        <!-- LOGO -->
        <div class="logo-wrapper">
          <a class="logo link" href="./index" aria-label="filmoteka logo">
            <svg class="logo__icon" width="24" height="24">
              <use href="./images/sprite.svg#film"></use>
            </svg>
            <span class="logo__text">Filmoteka </span>
          </a>
        </div>
        <!-- SITE NAVIGATION - HOME/LIBRARY BUTTONS -->
        <nav class="site-nav">
          <button
            id="home-button"
            class="header-button home-button current"
            type="button"
            aria-label="main page switch"
          >
            Home
          </button>
          <button
            id="library-button"
            class="header-button library-button"
            type="button"
            aria-label="library page switch"
          >
            My library
          </button>
        </nav>
      </div>

      <!-- SEARCH-INPUT CONTAINER -->
      <div class="search-container">
        <span class="search__input-wrapper">
          <svg class="microphone" width="40" height="40" aria-label="voice search">
            <use href="./images/sprite.svg#microphone"></use>
          </svg>

          <input
            class="search__input"
            type="text"
            name="search"
            autocomplete="off"
            aria-label="Search films "
            placeholder="Поиск фильмов"
            contenteditable
          />
        </span>
      </div>

      <!-- WATCHED/QUEUE BUTTONS -->
      <div class="button-container">
        <!-- оставила класс без visually-hidden для демонстрации -->
        <button class="button watched-button visually-hidden" type="button">WATCHED</button>
        <button class="button queue-button visually-hidden" type="button">QUEUE</button>
      </div>
    </div>
  </div>
</header>

<!-- <header class="header">
  <div class="container">
    <ul class="header-item">
      <ul class="logo-item">
        <li class="logo-list list">
          <img class="logo-img" src="./images/film.png" alt="logo" />
        </li>
        <li class="logo-list list">
          <p class="text">Filmoteka</p>
        </li>
      </ul>
      <ul class="header-link">
        <li class="link-list list current">
          <a class="link link-text" href="index.html">HOME</a>
        </li>
        <li class="link-list list">
          <a class="link link-text" href="">MY LIBRARY</a>
        </li>
      </ul>
    </ul>
    <form>
      <ul class="search-item">
        <li class="searh-list list">
          <input class="search-input" type="text" placeholder="Поиск фильмов" />
        </li>
        <li class="searh-list list">
          <button class="btn-search" type="submit">
            <svg class="search-img">
              <use href="./images/symbol-defs.svg#icon-search"></use>
            </svg>
          </button>
        </li>
      </ul>
    </form>
  </div>
</header> -->
