.footer-backdrop {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.backdrop.is-hidden.modal {
  transform: scale(0.9) translate(-50%, -50%);
}
.footer-modal {
  position: absolute;
  overflow-y: scroll;
}

.modal-close-btn{
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ff6b08;
  border-radius: 50%;
  box-sizing: border-box;
}
.modal__content__footer {
  // display: block;
    padding: 40px 15px;
    text-align: center;
    // background-color: rgb(224, 224, 224);
    background-color: white;
    border-radius: 10px;
    height: 500px;
    overflow-y: scroll;
}

.students-list {
  display: grid;
  width: 100%;
  padding: 0 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-row-gap: 15px;
  grid-column-gap: 40px;
  
  &__item {
    width: 160px;
    height: 210px;
    margin-bottom: 5px;
    background-color: transparent;
    &__image {
      width: 160px;
      height: 160px;
      margin: 0 auto;
      border-radius: 50%;
      
    }
    &__descr {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      &__link {
        display: block;
        margin-left: 4px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-image: url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');
        background-position: center;
        background-size: contain;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .students-list{
  display: block;
}
}
@media screen and (max-width: 768px) {
  .students-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .students-list__item:first-child {
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .modal__content__footer {
    height: 470px;
    padding: 15px;
    // overflow: hidden;
  }
  .students-list__item {
    width: 190px;
    height: 260px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {

  .students-list{
    display: grid;
    // width: 100%;
    padding: 0 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    
  }
  .students-list__item {
    width: 160px;
    height: 210px;
  }
  .students-list__item__image {
    width: 160px;
    height: 160px;
  }
}





 
  
