.container {
  width: 320px;
  margin: 0 auto;
}
.movies {
  padding: 20px 20px 40px 20px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
}

.movies__list {
  list-style: none;
}

.movies__list-item {
  // width: 280px;
  border-radius: 5px;
  transition: all 0.4s ease;
  &:hover {
    transform: scale(1.02) translateY(-5px);
    box-shadow: 0px 0px 15px 5px grey;
  }
}

.movie__poster {
  width: 280px;
  height: 398px;
  display: block;
  margin: 0 auto 10px;
  width: 100%;
  // margin-bottom: 10px;
  border-radius: 5px;

}

.movie__name {
  padding: 0 5px;
  margin: 0;
  text-transform: uppercase;
}
.movie__genre {
  padding: 0 5px;
  margin: 0 0 5px;
  color: $accent-color;
}

.movie__rating{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 16px;
    padding: 1px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: $accent-color;
    color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .movies__list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: $bp-tablet) {
  .container {
    width: $bp-tablet;
  }
  .movies {
    padding: 60px 75px 50px;
  }
  .movie__poster {
    width: 294px;
  }
  .movies__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .movies__list-item {
    margin: 15px;
  }
}

@media screen and (min-width: $bp-desktop) {
  .container {
    width: $bp-desktop;
  }
  .movies {
    padding: 30px 70px 50px;
  }
  .movie__poster {
    width: 274px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
  }

  .movie__poster {
    width: 290px;
  }
}
