.microphone {
    fill: #fff;
    padding: 5px 5px 0;
    margin-right: 5px;
    margin-bottom: -4px;
    margin-left: -45px;
    transition: transform 0.4s ease;
  }
  
  @media screen and (max-width: 768px) {
    .microphone {
      margin-left: 0;
    }
  }
  
  .microphone:hover,
  .microphone:focus {
    transform: scale(1.3) translateY(-3px);
  }
  


  