img {
  display: block;
}

.modal {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 280px;
  // height: 958px;
  padding: 48px 20px 40px 20px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .modal {
    top: 230px;
    width: 618px;
    // height: 562px;
    padding: 42px 28px 40px;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    top: 100px;
    width: 882px;
    // height: 568px;
    padding: 50px 30px 40px;
  }
}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;

  background-color: transparent;
  background-image: url('../images/close-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.modal__close-icon {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .modal-wrap {
    display: flex;
  }
}

.modal__poster-link {
  width: 100%;
  height: 356px;
  margin-bottom: 30px;

  object-fit: cover;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .modal__poster-link {
    height: 374px;
    margin-bottom: 0;
    margin-right: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .modal__poster-link {
    height: 478px;
    margin-right: 30px;
  }
}

.modal-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}

.modal-info__title {
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 1.17;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .modal-info__title {
    font-size: 30px;
  }
}

.modal-info__list {
  margin-bottom: 20px;

  line-height: 1.33;
}

.modal-info__item {
  display: flex;
  color: #8c8c8c;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
  
  &:nth-child(3) p:last-child {
    text-transform: uppercase;
  }
}

.modal-info__title-item {
  min-width: 110px;
}

.modal-info__value-item {
  color: #000000;
}

.vote {
  padding: 1px 10px;
  color: #ffffff;
  background-color: #ff6b01;
  border-radius: 5px;
}

.votes {
  padding: 1px 4px;
  color: #000000;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.modal-info__description-title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.modal-info__description {
  max-height: 362px;
  margin-bottom: 20px;
  padding-right: 6px;
  overflow-y: hidden;

  &:hover,
  &:focus {
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #f8f8f8;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #eeeeee;
  }
}

@media screen and (min-width: 768px) {
  .modal-info__description {
    max-height: 236px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-info__description {
    max-height: 160px;
  }
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .modal-buttons {
    display: inline;
  }
}

.modal-button {
  width: 112px;
  height: 44px;
  padding: 0;

  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal-button {
    width: 125px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-button {
    width: 136px;
    &:first-child {
      margin-right: 15px;
    }
  }
}

.modal-button__checked {
  color: #ffffff;
  background-color: #ff6b01;
  border: 1px solid #ff6b01;
}

.fixed-body {
  overflow: hidden;
  max-height: 100vh;
}
